body {
    margin: 0;
    background: #0d0d0d;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#emoji-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 1;
}

.emoji {
    position: absolute;
    font-size: 35px;
    opacity: 0.9;
    animation: float 3s linear infinite;
}

@keyframes float {
    0% { transform: translateY(120vh) rotate(0deg); opacity: 0; }
    20% { opacity: 1; }
    50% { transform: translateY(20vh) rotate(180deg); }
    80% { opacity: 1; }
    100% { transform: translateY(-20vh) rotate(360deg); opacity: 0; }
}

#container {
    width: 90%;
    max-width: 450px;
    position: relative;
    z-index: 10;
}

#card, #final-screen {
    background: rgba(20, 20, 20, 0.9);
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 20px rgba(255,0,150,0.5);
    animation: fadeIn 0.35s ease;
}

.hidden {
    display: none;
}

#options {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

button {
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: 0.2s;
}

.button-normal {
    background: #ff00a6;
}

.button-normal:hover {
    transform: scale(1.05);
}

.button-run {
    background: #ff005d;
    position: relative;
}

#copyText {
    width: 100%;
    height: 70px;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    background: #111;
    color: #fff;
}

#copyBtn {
    background: #ff00b3;
    margin-top: 10px;
}

#copied {
    margin-top: 8px;
    color: #00ff9d;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}
